@using SalesManagerLib
@using SalesManager.Models
@using SalesManager.AppCode
@model PriceListDetailsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="w3-row w3-padding-bottom">
        <div class="w3-col s1 w3-padding-top">
            <label class="w3-label">Từ khóa :</label>
        </div>
        <div class="w3-col s3">
            @Html.TextBoxFor(m => m.ProductName, new { @class = "w3-input w3-round w3-border w3-padding-small" })
        </div>
        <div class="w3-col w3-padding-top w3-padding-left w3-padding-right" style="width: 11%;">
            <label class="w3-label">Sắp xếp theo:</label>
        </div>
        <div class="w3-col s2">
            @Html.DropDownListFor(m => m.OrderBy, new SelectList(Model.ListOrderByClauses, "OrderBy", "OrderByName", Model.OrderBy).AddDefaultOption("...", ""), new { @class = "w3-input w3-border w3-padding-small", onchange = "this.form.submit()" })
        </div>
        <div class="w3-col s2 w3-padding-left">
            <button class="w3-btn w3-round w3-light-grey w3-border w3-padding-small" type="submit">
                <i class="fa fa-search"></i> Tìm kiếm
            </button>
        </div>
    </div>
    <hr style="margin: 5px 0 5px">
}
@using (Html.BeginForm("MultipleAction", "PriceListDetails", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="w3-padding-top w3-left">
        <b>Tổng cộng: @Model.RowCount</b>
    </div>
    <div class="w3-padding-bottom w3-right">
        <button class="w3-btn w3-round w3-light-grey w3-border w3-hover-orange" name="submitType" value="insertPriceListDetail" type="submit" onclick="return confirm('Xác nhận tạo mới danh sách? Danh sách giá sản phẩm cũ sẽ bị thay thế !!!');"><i class="fa fa-plus"></i> Tạo danh sách sản phẩm</button>
        <button class="w3-btn w3-round w3-light-grey w3-border w3-hover-orange" name="submitType" value="updatePrices" type="submit"><i class="fa fa-floppy-o"></i> Cập nhật giá</button>
        <button class="w3-btn w3-round w3-light-grey w3-border w3-hover-orange"
                name="submitType" value="deleteItems" type="submit">
            <i class="fa fa-trash"></i> Xóa
        </button>
    </div>
    <table class="w3-table w3-bordered w3-striped w3-border">
        <thead class="w3-blue">
            <tr>
                <th class="w3-border w3-center">#</th>
                <th class="w3-border w3-center" width="35%">Tên sản phẩm</th>
                <th class="w3-border w3-center" width="120px">Đơn vị tính</th>
                <th class="w3-border w3-center" style="width: 150px">Giá</th>
                <th class="w3-border w3-center">Nhân viên tạo</th>
                <th class="w3-border w3-center">Nhân viên cập nhật</th>
                <th class="w3-border w3-center">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListPriceListDetails.HasValue())
            {
                for (int i = 0; i < Model.ListPriceListDetails.Count; i++)
                {
                    var priceListDetail = Model.ListPriceListDetails[i];
                    int number = i + (Model.Pagination.PageIndex > 0 ? Model.Pagination.PageIndex - 1 : Model.Pagination.PageIndex) * Model.Pagination.PageSize + 1;
                    <tr>
                        <td class="w3-border w3-center">@(number)</td>
                        <td class="w3-border">@priceListDetail.ProductName</td>
                        <td class="w3-border w3-center">@Units.Static_Get(priceListDetail.UnitId, Model.ListUnits).UnitDesc</td>
                        <td class="w3-border w3-center">
                            <input type="number" name="PriceListDetailsDisplayOrders[@i].Price" value="@priceListDetail.Price.CurrencyToString()" class="w3-input w3-border w3-round w3-padding-tiny w3-center currency" />
                            <input type="hidden" name="PriceListDetailsDisplayOrders[@i].PriceListDetailId" value="@priceListDetail.PriceListDetailId" />
                        </td>
                        <td class="w3-border w3-center w3-small">
                            <label class="w3-label">
                                <b>@Users.Static_Get(priceListDetail.CrUserId, Model.ListUsers).UserName</b>
                            </label>
                            <br />@priceListDetail.CrDateTime.toString(string.Empty, "dd/MM/yyyy HH:mm:ss")
                        </td>
                        <td class="w3-border w3-center w3-small">
                            @if (priceListDetail.UpdateUserId > 0)
                            {
                                <label class="w3-label">
                                    <b>@Users.Static_Get(priceListDetail.UpdateUserId, Model.ListUsers).UserName</b>
                                </label>
                            }
                            <br />@priceListDetail.UpdDateTime.toString(string.Empty, "dd/MM/yyyy HH:mm:ss")
                        </td>
                        <td class="w3-border w3-center">
                            @Status.Static_Get(priceListDetail.StatusId, Model.ListStatus).StatusDesc
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.HiddenFor(m => m.PriceListId)
    @Html.HiddenFor(m => m.PriceListTypeId)
    {
        Html.RenderAction("PartialPagination", "Shared", new { model = Model.Pagination });
    }
}
@section menudieuhuong{
    <div class="menudieuhuong">
        <div class="menudieuhuong_conen">
            <img src="@Url.Content("~/assets/images/muitendieuhuong.png")" />
            <b>Chi tiết bảng giá sản phẩm</b>
        </div>
    </div>
}


