<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hệ thống quản lý bán hàng</title>
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.ico")" type="image/x-icon" />
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Js")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="bgwebbody">
        <div class="wightfull">
            @{Html.RenderAction("PartialHeader", "Shared");}
            @RenderSection("menudieuhuong", required: false)
            <div class="clear5px"></div>
            <div class="khungnoidungconten">
                <div class="khungcontenpading">
                    @RenderBody()
                    <div class="clear5px"></div>
                </div>
            </div>
            <div class="clear5px"></div>
            <div class="fooder">
                Phát triển bởi Hàn Trung Hiếu.
            </div>
            <div class="clear5px"></div>
        </div>
    </div>
    <span id="loading">Đang tải dữ liệu...</span>
</body>
</html>
