@using SalesManager.Models
@using SalesManager.AppCode
@model InputBillsEditModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thêm/Sửa đơn nhập hàng</title>
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Js")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="w3-container" style="height: 390px; overflow: auto">
        <label class="w3-label w3-left">Kho hàng:</label>
        @Html.ValidationMessageFor(m => m.WarehouseId, "", new { @class = "text-danger" })
        @Html.DropDownListFor(m => m.WarehouseId, new SelectList(Model.ListWarehouse, "WarehouseId", "WarehouseDesc", Model.WarehouseId), new { @class = "w3-input w3-border w3-padding-small" })

        <label class="w3-label w3-left">Nhà cung cấp:</label>
        @Html.ValidationMessageFor(m => m.SupplierId, "", new { @class = "text-danger" })
        @Html.DropDownListFor(m => m.SupplierId, new SelectList(Model.ListSuppliers, "SupplierId", "SupplierName", Model.SupplierId).AddDefaultOption("...", "0"), new { @class = "w3-input w3-border w3-padding-small" })

        <label class="w3-label w3-left">Phương thức thanh toán:</label>
        @Html.ValidationMessageFor(m => m.PaymentTypeId, "", new { @class = "text-danger" })
        @Html.DropDownListFor(m => m.PaymentTypeId, new SelectList(Model.ListPaymentTypes, "PaymentTypeId", "PaymentTypeDesc", Model.PaymentTypeId).AddDefaultOption("...", "0"), new { @class = "w3-input w3-border w3-padding-small" })

        <label class="w3-label w3-left">Ghi chú:</label>
        @Html.TextAreaFor(m => m.Notes, new { @class = "w3-input w3-border w3-round w3-padding-small" })
    </div>
        <div class="w3-center w3-bottom w3-padding-bottom">
            <button class="w3-btn w3-border w3-round w3-blue" type="submit"><i class="fa fa-floppy-o"></i> <b>Lưu thông tin</b></button>
        </div>
    }
</body>
</html>

