@using SalesManager.Models
@using SalesManager.AppCode
@model WarehouseEditModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thêm/Sửa kho hàng </title>
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="w3-container" style="height: 390px; overflow: auto">
        @Html.ValidationMessageFor(m => m.SystemMessages, "", new { @class = string.Format("text-danger w3-center w3-container w3-section w3-round w3-padding {0}", Model.SystemStatus == SystemStatus.Success ? "w3-blue" : "w3-red") })
        <label class="w3-label w3-left w3-padding-top">Tên:</label>
        @Html.ValidationMessageFor(m => m.WarehouseName, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.WarehouseName, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left">Mô tả:</label>
        @Html.TextBoxFor(m => m.WarehouseDesc, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left">Địa chỉ:</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left">Mobile:</label>
        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Mobile, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left">Trạng thái:</label>
        @Html.DropDownListFor(m => m.WarehouseStatusId, new SelectList(Model.ListWarehouseStatus, "WarehouseStatusId", "WarehouseStatusDesc", Model.WarehouseStatusId), new { @class = "w3-input w3-border w3-padding-small" })
        @Html.HiddenFor(m => m.WarehouseId)
    </div>
        <div class="w3-center w3-bottom w3-padding-bottom">
            <button class="w3-btn w3-border w3-round w3-blue" type="submit"><i class="fa fa-floppy-o"></i> <b>Lưu thông tin</b></button>
        </div>
    }
</body>
</html>

